* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #3A5766;
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
	color: #000;
}
.picnic {
	position: relative;
}
.text-block {
	position: center;
	background-color: #3A5766;
	color: #000;
}
h1 p { 
	font-weight: bold;
	text-align: center;
	font-size: 100px;
 }
#slogan {
	font-style: italic;
	text-align: center;
	font-size: 32px;
}
ul li {
	text-decoration: bold;
	vertical-align: middle;
	list-style-type: none;
}
#contact {
	vertical-align: bottom;
	font-variant: small-caps;
	font-weight: bold;
}


